.projectsSection {
  background: #4e93aa;
}
.projectContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tempIMGPlaceholder {
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: solid black 5px;
  background-color: rgba(0, 0, 255, 0.404);
}