.leftSection {
  width: 100%;
  position: relative;
  z-index: 1;
  
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &:before {
    top: 0;
    transform: skewY(2deg);
    transform-origin: 100% 0;
  }
  
  &:after {
    bottom: 0;
    transform: skewY(-2deg);
    transform-origin: 100%;
  }
}

.leftSection {
  margin: 0;
  padding: 10px 0px;
  text-align: center;
}
.leftContent {
  min-height: 200px;
  width: 70%;
  margin: 0 auto;
}